<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ATMSvcSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2021/ATMWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ATMSvcSoap"
                contract="ATMRef.ATMSvcSoap" name="ATMSvcSoap" />
        </client>
    </system.serviceModel>
</configuration>